{% extends 'admin/admin.html' %}

{% block extracss %}
<style>
    label {
        font-weight: 400;
    }
</style>
{% endblock %}
{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container-xl">
    <div class="col">
        <div class="row">
            <div class="col mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="e-profile">
                            <div class="row">
                                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                    <div class="text-center text-sm-left mb-2 mb-sm-0">
                                        <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{list.0.email}}</h4>
                                        <div class="text-muted">
                                            <medium>{{list.0.last_login}}</medium>
                                        </div>
                                        <div class="text-center text-sm-right">
                                            <div class="text-muted">
                                                <medium>{{list.0.date_joined}}</medium>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="nav nav-tabs">
                                    <li class="nav-item"><a href="" class="active nav-link">Details</a></li>
                                </ul>
                                <div class="tab-content pt-3">
                                    <div class="tab-pane active">
                                        <form class="form" action = "{% url 'app:adminprofile' list.id %}" method="POST">
                                            {% csrf_token %}
                                            <div class=" row">
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label> Name</label>
                                                            <input class="form-control" type="text" name="fname"
                                                                placeholder="First Name" value="{{list.fname}}">
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Username</label>
                                                            <input class="form-control" type="text" name="username"
                                                                placeholder="username" value="{{list.username}}">
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Number</label>
                                                            <input class="form-control" type="number" name="pnum"
                                                                placeholder="Phone No" value="{{list.phone}}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Email</label>
                                                            <input class="form-control"  type="email" name="email"
                                                            value="{{list.email}}" placeholder="user@example.com" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Holdings</label>
                                                            <input class="form-control" type="number"
                                                             value="{{port.total_portfolio}}" placeholder="" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-12 col-sm-5 offset-sm-0 mb-3 mt-3">
                                        <div class="mb-2"><b>User Status</b></div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="custom-controls-stacked px-2">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input"
                                                            id="notifications-blog"  m,k>
                                                        <label class="custom-control-label"
                                                            for="notifications-blog">active</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex justify-content-end">
                                        <button class="btn btn-primary" type="submit">Save Changes</button>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

{%endblock%}